{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!--Header-->
    <h3 class="header-text">
        About golf
    </h3>
    <!--Paragraph-->
    <p class='about-golf'>
        Golf is an individual sport played by hitting a ball with a club from a tee into a hole. The object is to get
        the ball into the hole with the least number of swings or strokes of the club. Golf is a hugely popular sport
        that is enjoyed by people of all ages. Golf is often played competitively, but can also be played for relaxation
        and just to enjoy the outdoors.
    </p>
</div>
{% endblock %}