{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="header-text">
            Impressum
        </h3>
        
        <!--Each member box-->
        <div class="member-info-container">
        <div class="category-container">
            <span class="category-name"> <i class="fas fa-microphone-alt"></i> Speaker</span>
            <hr>
            <span class="member-name">Oral Akerke</span>
            <hr>
            <p class="category-description">The head of our group</p>
        </div>

        <div class="category-container">
            <span class="category-name"> <i class="fas fa-search"></i> Researchers</span>
            <hr>
            <span class="member-name">Mammadinova Diana</span>
            <span class="member-name">Ulgayeva Saida</span>
            <span class="member-name">Merzayeva Aray</span>
            <hr>
            <p class="category-description">These people are responsible for finding valuable information, translating and explaning it to the group.</p>
            
        </div>

        <div class="category-container">
            <span class="category-name"> <i class="fas fa-code"></i> Coders</span>
            <hr>
            <span class="member-name">Aimakanova Sharbanu</span>
            <span class="member-name">Nurbolat Alikhan</span>
            <span class="member-name">Burambayeva Raziya</span>
            <hr>
            <p class="category-description">Team members who are digitally visualazing the information in the interesting way possible</p>
        </div>
    </div>
    </div>
{% endblock %} 