{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="header-text">Reference</h3>
        <p><a href="https://pxhere.com/en/photo/1517173">Background image</a></p>
        <p><a href="https://www.ducksters.com/sports/golf.php">About golf</a></p>
        <p><a href="https://www.ducksters.com/sports/golfrules.php">Rules</a></p>
        <p><a href="http://www.espn.com/golf/statistics/_/year/2020/sort/cupPoints">Leaderboards</a></p>
        <p><a href="https://www.jrpga.com/blog/did-you-know-7-fun-facts-about-golf/">Facts</a></p>
        <p><a href="https://www.pgatour.com/tournaments/schedule.html">Tournaments</a></p>
    </div>
{% endblock %} 