{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="header-text">
        Rules
    </h3>
    <p class='rules-header'>
        The official rules of golf in the US are governed by the United States Golf Association (USGA), but here are
        some basic rules to keep in mind when playing golf:
    </p>
    <!--Here we implement rules as a list-->
    <ul class="rules-list">
        <li>You must play the golf ball where it lies, unless there is a rule that allows you to move it.</li>
        <li>The golf course may not be changed to gain an advantage, unless there is a rule that allows for a specific
            change.</li>
        <li>If your ball is in a bunker or water hazard, your golf club cannot touch the ground or water prior to your
            actual swing. If it does, you must take a penalty stroke.</li>
        <li>If you accidentally play the wrong golf ball (oops!), you get a two stroke penalty.</li>
        <li>On the green, you may mark and lift your ball to clean it or get it out of another golfer's way.</li>
        <li>When putting the ball must not hit the flag. If the golf ball does hit the flag, it is a two stroke penalty.
        </li>
        <li>If you loose the ball in a water hazard, you can drop the ball behind the hazard and in line with the golf
            hole. You must take a penalty stroke.</li>
        <li>If you loose the ball out of bounds, you can take a penalty stroke and then replay the shot.</li>
        <li>If your ball is unplayable, you may take a penalty stroke and then drop the golf ball behind where the ball
            was and in line with the hole or drop the golf ball within two club lengths.</li>
        <li>You are allowed a maximum of 14 clubs in your golf bag.</li>
        <li>Golfers must tee off behind and between the tee markers. Never in front of the tee markers.</li>
    </ul>
</div>

{% endblock content %}